*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.dashboard{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 15%;
    background-color:rgba(0, 0, 0, 0.852);
    height: 100vh;
    padding: 10px;
    text-align: center;
    color: white;
}
.fa-user-o{
    color: white;
    font-size: 100px;
    padding-top: 30px;
}
.name{
    font-size: 20px;
    padding-top: 10px;
    font-weight: 500;
}
.fa-clock-o{
    padding-top: 20px;
    font-size: 100px;
}
.row1{
    display: flex;
    flex-direction: row;
    margin: auto !important;
}
.time{
    font-size: 20px;
    font-weight: 600;
}
.quiz-dash{
    background: url(./IMAGE/OCKw.gif);
    width: 85%;
    background-size: contain;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-left: 20px;
}
.timer{
    color: white;
    text-align: center;
    padding-top: 10px;
}
.question{
    color: white;
    padding-top: 30px;
}
.fa-lightbulb-o{
    font-size: 150px;
    padding-left: 20px;
    color: rgba(255, 228, 196, 0.347);
}
.icon{
    display: flex;
    flex-direction: row;
}
.think{
    rotate: -20deg;
    color: white;
    padding-left: 20px;
    font-size: 30px;
}
.choices{
    display: flex;  
    flex-direction: column;
    width: 10%;
}
.ops{
    border: 1px solid rgb(165, 164, 164);
    padding-left: 4.5px;
    padding-right: 4.5px;
    padding-bottom: 2px;
    border-radius: 4px;
    margin-right: 10px;
}
.opt{
    width: 200px;
    margin-top: 10px;
}
.buttons{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 100px !important;
    padding: 20px;
}
.fa-angle-double-left{
    font-size: 50px;
}
.fa-angle-double-right{
    font-size: 50px;
}
.row2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
}