

*{
    margin: 0;
    padding: 0;
    background-color: ;
}

.hero{
    height: 100vh;
    width: 100%;
    background: #090d00;
    font-family: sans-serif;
    position: relative;
}

nav{
    width: 84%;
    margin: auto;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;

}

nav ul li a{
    text-decoration: none;
    color: #606163;
}

nav ul li a:hover{
    color: #008100;
}

.info{
    margin-left: 8%;
    margin-top: 15%;
}

.info h1{
 font-size: 70px;
 color: #fff;
 margin-bottom: 20px;   
}


span {

    font:  "Oswald", sans-serif;
    letter-spacing: 0;
    padding: .25em 0 .325em;
    display: block;
    margin: 0 auto;
    text-shadow: 0 0 80px rgba(255,255,255,.5);

/* Clip Background Image */

    background: url(https://i.ibb.co/RDTnNrT/animated-text-fill.png) repeat-y;
    -webkit-background-clip: text;
    background-clip: text;

/* Animate Background Image */

    -webkit-text-fill-color: transparent;
    -webkit-animation: aitf 80s linear infinite;

/* Activate hardware acceleration for smoother animations */

    -webkit-transform: translate3d(0,0,0);
    -webkit-backface-visibility: hidden;

}


/* Animate Background Image */

@-webkit-keyframes aitf {
  0% { background-position: 0% 50%; }
  100% { background-position: 100% 50%; }
}

.info p{
    color: #ffffff40;
    line-height: 22px;
}

.info a{
    background: #212121;
    padding: 10px;
}